# Node.js dependencies
node_modules/
.pnp/
.pnp.js

# Optional cache files
.npm/
.eslintcache

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/
.idea/
*.sublime-workspace
